.radioGroup {
  margin-bottom: 1rem;
}

.ACPPContainer {
  margin-left: 2px;

  .label {
    margin-right: 5px;
  }

  .value {
    margin-right: 1rem;
  }

  .perceptionButton {
    margin-right: 5px;
  }
}
